.slider {
    position: relative;
    max-width: 1400px;
    max-height: 800px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
  }
  
  .slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-content img {
    width: 100%;
    border-radius: 10px;
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 10px;
    color: red;
    font-size: large;
   
    border-radius: 20px;
  
    font-weight: 600;
  }
  
  .right-arrow {
    right: 10px;
    color: greenyellow;
    font-size: large;
   
    border-radius: 20px;
  
    font-weight: 600;
  }